.gourd-pull-refresh {
    overflow: hidden;

    .gourd-pull-refresh--wrap {
        position: relative;
        transition-property: transform;
        transition-timing-function: ease;

        .gourd-pull-refresh--head {
            position: absolute;
            left: 0;
            right: 0;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 14px;
            color: #a2a2a2;
            transform: translateY(-100%);

            .gourd-pull-refresh--arrow {
                display: inline-block;
                margin-right: 10px;
                font-weight: bold;
                color: #ffa351;
                // transform: rotate(-10deg);
                transition: all 300ms;
            }

            .gourd-loading {
                margin-right: 6px;
            }
        }
    }
}